<form action="{{ url }}" method="post">
    <input type="hidden" name="_method" value="PUT">
    <button class="btn btn-xs btn-default" title="{{ title }}">
        <i class="{{ icon }}"></i>
    </button>
</form>
